# IP Geolocation
IPINFO_TOKEN=

# Site URL
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3000


# Other configurations
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=

# Admin Configuration
ADMIN_ACCESS_TOKEN=
ADMIN_USERNAME=
ADMIN_PASSWORD=
JWT_SECRET=